.recipe__left {
  padding-right: 3px;
}

.recipe__center {
  padding-right: 3px;
  padding-left: 3px;
}

.recipe__right {
  padding-left: 3px;
}

.MainPage {
  padding-bottom: 30px;
}

.latest-recipes-headline {
  padding-top: 30px;
  padding-bottom: 15px;
  text-align: left;
  margin-left: 8.3333%;
  color: #484644;
  font-weight: 600;
}