.recipe__left {
  padding-bottom: 20px;
}

.recipe__center {
  padding-bottom: 20px;
}

.recipe__right {
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .recipe__left {
    padding-right: 3px;
  }

  .recipe__center {
    padding-right: 3px;
    padding-left: 3px;
  }

  .recipe__right {
    padding-left: 3px;
  }
}

.MainPage {
  padding-bottom: 30px;
}

.latest-recipes-headline {
  padding-top: 30px;
  padding-bottom: 15px;
  text-align: left;
  color: #484644;
  font-weight: 600;
}