.navbar-main {
  background-color: #ffbb00;
  box-shadow: 0 0px 15px grey;
}

#navb ul li a {
  font-size: 1rem;
  font-weight: 600;
  color: #FFF;
}

#navb ul li a:hover {
  color: black;
}

.navbar-brand {
  padding-left: 7.5%;
}

.homeIcon {
  width: 40px;
  height: 40px;
  color: white;
}

.home-link {
  padding-left: 8.3333%;
}

#navb {
  padding-right: 8.3333%;
}