.ingredient-cell {
  text-align: left;
  width: 50%;
}

.RecipeDetails {
  padding-top: 30px;
}

.ingredients {
  text-align: left;
}

table {
  margin-top: 15px;
}

.description {
  padding-top: 30px;
  text-align: left;
}

.preparing {
  padding-top: 30px;
  text-align: left;
}

.preparing p {
  padding-top: 15px;
}

.preparing h4 {
  font-weight: 600;
}

.ingredients h4 {
  font-weight: 600;
}